openwebui=OPENWEBUI APIKEY
llm_url=https://YOURDOMAIN/api/chat/completions
model_name=//LLM MODEL NAMEEFS
# 관리자 정보 추가
ADMIN_ID=hi_man
ADMIN_PASSWORD=itispassword
# 보안을 위한 비밀키 (아무 긴 문자열이나 입력 가능)
SECRET_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
